/***** Index ******/

/***** Style variabler ******/
.hero {
  font-family: sans-serif;
  font-weight: 800;
  font-size: clamp(3rem, 9vw, 8rem);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 22vh;
}

.hero span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.1rem);
  color: darkgray;
}

.logo a {
  font-family: sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: black;
  font-size: larger;
}

.logo span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0rem);
  color: darkgray;
}

/***** Style logo ******/

.category {
  margin-top: 8vh;
  margin-left: 4.5vw;
  font-size: xx-large;
  font-weight: 500;
}

/***** Style kategorier ******/

.category_list_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-evenly;
  margin-top: 14vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  max-width: 1050px;
}

.category_link {
  display: flex;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  font-size: x-large;
}

.category_link {
  border: 1px solid black;
  padding: 10px 25px;
  place-self: center;
}
.category_link:hover {
  color: darkgray;
  text-decoration: underline;
}

/***** Produktliste ******/

.product_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 5vw;
  margin-right: 8vw;
  margin-top: 10vh;
}

.product_card {
  display: grid;
  grid-template-rows: 4;
  padding-left: 4vw;
}

.nr {
  font-size: large;
}

.navn {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: black;
}

.pris {
  margin-bottom: 7px;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  color: rgb(127, 127, 127);
  text-decoration: none;
}

.pris span {
  text-decoration: line-through;
  color: #bdbdbd;
}
.add {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-decoration: underline;
  font-variant-caps: all-small-caps;
  place-self: center;
  color: black;
}

.product_card:hover {
  transform: scale(1.06);
  opacity: 48%;
}

.sold {
  opacity: 48%;
}
