/***** Index ******/

/***** Style variabler ******/
.hero {
  font-family: sans-serif;
  font-weight: 800;
  font-size: clamp(3rem, 9vw, 8rem);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 22vh;
}

.hero span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.1rem);
  color: #555555;
}

.logo a {
  font-family: sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: black;
  font-size: larger;
}

.logo span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0rem);
  color: #555555;
}

/***** Style logo ******/

.category {
  margin-top: 8vh;
  margin-left: 4.5vw;
  font-size: xx-large;
  font-weight: 500;
}

/***** Style kategorier ******/

.category_list_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-evenly;
  margin-top: 14vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  max-width: 1050px;
}

.category_link {
  display: flex;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  font-size: x-large;
}

.category_link {
  border: 1px solid black;
  padding: 10px 25px;
  place-self: center;
}
.category_link:hover {
  color: darkgray;
  text-decoration: underline;
}

/***** Produktliste ******/

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 7vh;
  justify-content: center;
}

.back {
  display: block;
  margin-left: 4vw;
  margin-top: 5vh;
  text-decoration: none;
  font-size: x-large;
  color: black;
}

.back:hover {
  display: block;
  color: darkgrey;
  transition: 0.3s;
  transform: scale(1.02);
}

.product_card {
  display: grid;
  grid-template-rows: 4;
  padding-left: 4vw;
  margin-bottom: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}

.nr {
  font-size: large;
  color: #555555;
}

.navn {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: black;
}

.pris {
  margin-bottom: 7px;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  color: rgb(127, 127, 127);
  text-decoration: none;
}

.pris span {
  text-decoration: line-through;
  color: #bdbdbd;
}
.add {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-decoration: underline;
  font-variant-caps: all-small-caps;
  place-self: center;
  color: black;
}

.product_card:hover {
  transform: scale(1.06);
  opacity: 48%;
  transition: 0.3s;
}

.sold {
  opacity: 40%;
}

/***** Produkt ******/

.product_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 16vw;
  margin-right: 16vw;
  margin-top: 4vh;
  margin-bottom: 10vh;
  gap: 2rem;
}

.show {
  flex: none;
  padding-right: 2rem;
}

.info {
  flex: none;
}
.product_name {
  margin-bottom: 12px;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.product_pic {
  height: 500px;
  width: auto;
}

.product_cat {
  margin-top: 8vh;
  margin-bottom: 9px;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: darkgrey;
  font-weight: 300;
}

.product_name_big {
  margin-bottom: 5px;
  font-size: clamp(1.8rem, 3vw, 2.6rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.price {
  margin-bottom: 30px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: rgb(127, 127, 127);
}

.storrelser {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
}
.storrelser p {
  border: 1px solid black;
  padding: 10px 15px;
  place-self: center;
}

.storrelser p:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.kob_cta {
  font-weight: 300;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 50px;
  margin-bottom: 2.5rem;
  text-align: center;
}

.kob_cta:hover {
  color: black;
  background-color: white;
  transition: 0.3s linear;
  transform: scale(1.04s);
}

.features {
  margin-bottom: 7px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-variant-caps: all-small-caps;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.tekst {
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  line-height: 130%;
}

@media (min-width: 754px) and (max-width: 1069px) {
  .features {
    display: none;
  }

  .tekst {
    display: none;
  }
}

@media (max-width: 755px) {
  .product_container {
    display: block;
    margin-left: 14vw;
    margin-right: 14vw;
  }

  .show {
    padding-right: 0;
  }

  .product_pic {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
  }
}
